
@{
    ViewBag.Title = "ChapterStats";
}

<div id="page-default" class="clearfix">
    <div id="primary">
        <div id="content" role="main">
            <div class="page-content">
                <article id="post-20" class="post-20 page type-page status-publish hentry">
                    <div class="entry-content">
                        <div class="row vc_row-fluid vc_custom_1432886500341" style="padding-left: 0px; padding-right: 0px">
                            <div class="cms-bg-overlay" style=""></div>
                            <div class="vc_col-sm-12 wpb_column vc_column_container ">
                                <div class="wpb_wrapper" style="padding-bottom: 30px">
                                    <div class="vc_custom_heading vc_custom_1433301510670 default">
                                        <div class="vc_custom_heading-wrap  row ">
                                            <div class="table-responsive">
                                                <div class="table">
                                                    <div class="table-cell">
                                                        <h2>@ViewBag.ChapterName STATISTICS</h2>
                                                    </div>
                                                    <div class="table-cell" style="text-align: right">
                                                        @ViewBag.ChapterYear
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="custom-heading-driver default"></div>
                                    </div>
                                    <div class="row vc_row-fluid row_background_none vc_custom_1432944508035" style="margin-top: 70px">
                                        <div class="cms-bg-overlay" style=""></div>
                                        <div class="vc_col-sm-8 row_background_none wpb_column vc_column_container ">
                                            <div class="wpb_wrapper">
                                                <div class="cms-counter-wraper cms-counter-layout-1 template-cms_counter--layout-1 content-align-center " id="cms-counter">
                                                    <div class="row cms-counter-body">
                                                        <div class="cms-counter-item col-xs-12 col-sm-3 col-md-3 col-lg-3" style='color:#ffffff'>
                                                            <span class="cms-icon"><i class="fa fa fa-calendar"></i></span>
                                                            <div id="counter_cms-counter_item_1" class="cms-counter zero" @*data-suffix="clients"*@ data-prefix="" data-type="zero" data-digit="@ViewBag.ScheduledEvents">
                                                            </div>
                                                            <span class="cms-title">events scheduled</span>
                                                        </div>
                                                        <div class="cms-counter-item col-xs-12 col-sm-3 col-md-3 col-lg-3" style='color:#ffffff'>
                                                            <span class="cms-icon"><i class="fa fa fa-sticky-note"></i></span>
                                                            <div id="counter_cms-counter_item_2" class="cms-counter zero" @*data-suffix="coffee"*@ data-prefix="" data-type="zero" data-digit="@ViewBag.Notes">
                                                            </div>
                                                            <span class="cms-title">notes taken</span>
                                                        </div>
                                                        <div class="cms-counter-item col-xs-12 col-sm-3 col-md-3 col-lg-3" style='color:#ffffff'>
                                                            <span class="cms-icon"><i class="fa fa fa-photo"></i></span>
                                                            <div id="counter_cms-counter_item_3" class="cms-counter zero" @*data-suffix="years"*@ data-prefix="" data-type="zero" data-digit="@ViewBag.GalleryPhotos">
                                                            </div>
                                                            <span class="cms-title">photos added</span>
                                                        </div>
                                                        <div class="cms-counter-item col-xs-12 col-sm-3 col-md-3 col-lg-3" style='color:#ffffff'>
                                                            <span class="cms-icon"><i class="fa fa fa-bullhorn"></i></span>
                                                            <div id="counter_cms-counter_item_4" class="cms-counter zero" @*data-suffix="animals"*@ data-prefix="" data-type="zero" data-digit="@ViewBag.Announcements">
                                                            </div>
                                                            <span class="cms-title">announcements</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_col-sm-4 vc_hidden-xs wpb_column vc_column_container ">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_single_image wpb_content_element image-layer-counter vc_custom_1435794947151 vc_align_right">
                                                    <div class="wpb_wrapper">
                                                        <div class="vc_single_image-wrapper vc_box_border_grey"><img style="width: 250px; height: 300px; padding-bottom: 4px; margin-right: -15px" src="~/assets/images/chart-icon.png" class="vc_single_image-img attachment-full" alt="chart-icon" /></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                      
                                    </div>
                                    <div>
                                        @Html.ActionLink("Back to Administrator Panel", "Admin")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#home-tab').addClass("current-menu-item");
        });
    </script>
}