@model Scheduler.Models.Code_First.Announcement

@{
    ViewBag.Title = "Edit";
}

@{
    var hourConversion = 0;
    var today = new DateTime();
    var h = today.Hour;

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script>
            $(document).ready(function () {
                $('#home-tab').addClass("current-menu-item");
            });
        </script>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                function getTime() {
                    var today = new Date();
                    var h = today.getHours();
                    var hrConversion = h - @ViewBag.ServerHour;
                    document.getElementById('timeTest').innerHTML = hrConversion;
                }
                getTime();
            });
        </script>       
    }
}

<div id="page-default" class="clearfix">
    <div id="primary">
        <div id="content" role="main">
            <div class="page-content">
                <article id="post-20" class="post-20 page type-page status-publish hentry">
                    <div class="entry-content">
                        <div class="row vc_row-fluid vc_custom_1432886500341" style="padding-left: 0px; padding-right: 0px">
                            <div class="cms-bg-overlay" style=""></div>
                            <div class="vc_col-sm-12 wpb_column vc_column_container ">
                                <div class="wpb_wrapper" style="padding-bottom: 30px">
                                    <div class="vc_custom_heading vc_custom_1433301510670 default">
                                        <div class="vc_custom_heading-wrap  row ">
                                            <div class="table-responsive">
                                                <div class="table">
                                                    <div class="table-cell">
                                                        <h2>Edit Announcement</h2>
                                                    </div>
                                                    <div class="table-cell">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="custom-heading-driver default"></div>
                                    </div>
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="form-horizontal">
                                            <h4>This announcement was created on <strong>@Model.Created.AddHours(hourConversion).ToString("g")</strong> for <strong>@Model.Chapter.ChapterName (@Model.Chapter.ChapterYear)</strong></h4>
                                            <span>@h</span><br />
                                            <span id="timeTest"></span>
                                            <hr />
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            @Html.HiddenFor(model => model.Id)
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control capitalize", required = "true" } })
                                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                                </div>
                                            </div><br />
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    <textarea class="form-control capitalize" name="Body" rows="5" required>@Model.Body</textarea>
                                                    @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                                                </div>
                                            </div><br />
                                            <div class="form-group">
                                                <div class="control-label col-md-2">
                                                    Image
                                                </div>
                                                <div class="col-md-10">
                                                    @Html.DropDownList("AnnouncementImageId", null, htmlAttributes: new { @class = "form-control", required = "true" })
                                                    @Html.ValidationMessageFor(model => model.AnnouncementImageId, "", new { @class = "text-danger" })
                                                </div>
                                            </div><br />
                                            <div class="row col-md-offset-2" style="margin-top: 25px; text-align: center">
                                                @foreach (var image in ViewBag.AnnouncementImages)
                                                {
                                                    <div class="col-md-3" style="margin-bottom: 25px">
                                                        <img src="@image.File" style="width: 80px; margin-bottom: 5px; border: 1px solid #e5e5e5; box-shadow: 3px 3px 5px #888888 !important" /><br />
                                                        <span>@image.ImageName</span>
                                                    </div>
                                                }
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <input type="submit" value="Save" class="btn btn-default" />
                                                </div>
                                            </div>
                                        </div><br /><br />
                                    }
                                    <div>
                                        @Html.ActionLink("Back to Administrator Panel", "Admin")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

