<div id="page-default" class="clearfix">
    <div id="primary">
        <div id="content" role="main">
            <div class="page-content">
                <article id="post-20" class="post-20 page type-page status-publish hentry">
                    <div class="entry-content">
                        <div class="row vc_row-fluid vc_custom_1432886500341" style="padding-left: 0px; padding-right: 0px">
                            <div class="cms-bg-overlay" style=""></div>
                            <div class="vc_col-sm-12 wpb_column vc_column_container ">
                                <div class="wpb_wrapper" style="padding-bottom: 30px">
                                    <div class="vc_custom_heading vc_custom_1433301510670 default">
                                        <div class="vc_custom_heading-wrap  row ">
                                            <div class="table-responsive">
                                                <div class="table">
                                                    <div class="table-cell">
                                                        <h2>MY SCHEDULE FOR @ViewBag.ChapterName</h2>
                                                    </div>
                                                    <div class="table-cell" style="text-align: right">
                                                        @ViewBag.ChapterYear
                                                    </div>
                                                </div>
                                                <em class="pull-left" style="color: #29AAE3; padding-top: 3px; padding-right: 30px; font-size: 15px">If you want to remove any items from your schedule, just select them and click the submit button at the bottom of the list.</em>
                                            </div>
                                        </div>
                                        <div class="custom-heading-driver default"></div>
                                    </div>
                                    @using (Html.BeginForm("RemoveFromSchedule", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                    @Html.AntiForgeryToken()
                                    <div class="vc_col-sm-12 wpb_column vc_column_container" style="margin-bottom: 30px">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_tabs wpb_content_element" data-interval="0">
                                                <div class="wpb_wrapper wpb_tour_tabs_wrapper ui-tabs vc_clearfix ui-widget ui-widget-content ui-corner-all">
                                                    <ul class="wpb_tabs_nav ui-tabs-nav vc_clearfix ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
                                                        <li id="tab1" class="ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab" aria-selected="true" aria-expanded="true"><a href="#Day1" class="ui-tabs-anchor" role="presentation">February 6th</a></li>
                                                        <li id="tab2" class="ui-state-default ui-corner-top" role="tab" aria-selected="false" aria-expanded="false"><a href="#Day2" class="ui-tabs-anchor" role="presentation">February 7th</a></li>
                                                        @*<li class="ui-state-default ui-corner-top" role="tab" aria-selected="false" aria-expanded="false"><a href="#Day3" class="ui-tabs-anchor" role="presentation">Day 3</a></li>*@                                               
                                                        <div id="btnGroup1" class="btn-group pull-right"><button id="markAllDay1" class="btn btn-default" type="button">Mark all</button><button id="unmarkAllDay1" class="btn btn-default" type="button"><i class="fa fa-undo"></i></button></div>
                                                        <div id="btnGroup2" class="btn-group pull-right hidden"><button id="markAllDay2" class="btn btn-default" type="button">Mark all</button><button id="unmarkAllDay2" class="btn btn-default" type="button"><i class="fa fa-undo"></i></button></div>
                                                    </ul>
                                                    <div id="Day1" class="wpb_tab ui-tabs-panel wpb_ui-tabs-hide vc_clearfix ui-widget-content ui-corner-bottom" role="tabpanel" aria-hidden="false" style="display: block;">
                                                        <div class="row vc_row-fluid">
                                                            <div class="cms-bg-overlay" style="">
                                                            </div>
                                                            <div class="vc_col-sm-12 wpb_column vc_column_container ">
                                                                <div class="wpb_wrapper">
                                                                    <div class="wpb_text_column wpb_content_element ">
                                                                        <div class="wpb_wrapper">
                                                                                @foreach (var item in ViewBag.Day1)
                                                                                {
                                                                                    <div class="row vc_row-fluid" style="">
                                                                                        <div class="cms-bg-overlay" style=""></div>
                                                                                        <div class="vc_col-sm-10 wpb_column vc_column_container">
                                                                                            <div class="wpb_wrapper">
                                                                                                <div class="cms-fancyboxes-wraper template-cms_fancybox--vertical content-align-default container-fluid" id="cms-fancy-box-2">
                                                                                                    <div class="row cms-fancyboxes-body">
                                                                                                        <div class="cms-fancyboxes-vertical-item clearfix" onclick="">
                                                                                                            <div class="cms-fancyboxes-vertical-item-icon">
                                                                                                                <div class="fancy-box-icon">
                                                                                                                    <i class="fa fa-calendar" style="color: #29AAE3"></i>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="cms-fancyboxes-vertical-item-desc">
                                                                                                                <h3>@item.Title</h3>
                                                                                                                <div class="fancy-box-content">
                                                                                                                    <p>@item.StartTime.ToShortTimeString() - @item.EndTime.ToShortTimeString()</p>
                                                                                                                    @if (item.Description != null)
                                                                                                                    {
                                                                                                                        <span style="color: #29AAE3; font-size: 12px" rel="tooltip" title="@item.Description" data-placement="right">OVERVIEW</span><br />
                                                                                                                    }
                                                                                                                    @if (item.Speakers != null)
                                                                                                                    {
                                                                                                                        <spanm style="color: #29AAE3; font-size: 12px" rel="tooltip" title="@item.Speakers" data-placement="right">SPEAKERS</spanm>
                                                                                                                    }
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>                                                                                                                                                                                      
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="vc_col-sm-2" style="padding-top: 10px">
                                                                                            <input class="schedulizeDay1" type="checkbox" name="Remove" value="@item.Id" style="margin-right: 5px" /><br /><span style="color: #29AAE3; font-size: 10px; white-space: nowrap">REMOVE</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <hr />
                                                                                }
                                                                            @if (ViewBag.Day1.Count > 0 || ViewBag.Day2.Count > 0)
                                                                            {
                                                                                <button type="submit" class="btn btn-theme btn-md pull-right">Submit</button>
                                                                            }                                                                    
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="Day2" class="wpb_tab ui-tabs-panel wpb_ui-tabs-hide vc_clearfix ui-widget-content ui-corner-bottom" role="tabpanel" aria-hidden="true" style="display: none;">
                                                        <div class="row vc_row-fluid">
                                                            <div class="cms-bg-overlay" style="">
                                                            </div>
                                                            <div class="vc_col-sm-12 wpb_column vc_column_container ">
                                                                <div class="wpb_wrapper">
                                                                    <div class="wpb_text_column wpb_content_element ">
                                                                        <div class="wpb_wrapper">
                                                                                @foreach (var item in ViewBag.Day2)
                                                                                {
                                                                                    <div class="row vc_row-fluid" style="">
                                                                                        <div class="cms-bg-overlay" style=""></div>
                                                                                        <div class="vc_col-sm-10 wpb_column vc_column_container">
                                                                                            <div class="wpb_wrapper">
                                                                                                <div class="cms-fancyboxes-wraper template-cms_fancybox--vertical content-align-default container-fluid" id="cms-fancy-box-2">
                                                                                                    <div class="row cms-fancyboxes-body">
                                                                                                        <div class="cms-fancyboxes-vertical-item clearfix" onclick="">
                                                                                                            <div class="cms-fancyboxes-vertical-item-icon">
                                                                                                                <div class="fancy-box-icon">
                                                                                                                    <i class="fa fa-calendar" style="color: #29AAE3"></i>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="cms-fancyboxes-vertical-item-desc">
                                                                                                                <h3>@item.Title</h3>
                                                                                                                <div class="fancy-box-content">
                                                                                                                    <p>@item.StartTime.ToShortTimeString() - @item.EndTime.ToShortTimeString()</p>
                                                                                                                    @if (item.Description != null)
                                                                                                                    {
                                                                                                                        <span style="color: #29AAE3; font-size: 12px" rel="tooltip" title="@item.Description" data-placement="right">OVERVIEW</span><br />
                                                                                                                    }
                                                                                                                    @if (item.Speakers != null)
                                                                                                                    {
                                                                                                                        <spanm style="color: #29AAE3; font-size: 12px" rel="tooltip" title="@item.Speakers" data-placement="right">SPEAKERS</spanm>
                                                                                                                    }
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="vc_col-sm-2" style="padding-top: 10px">
                                                                                            <input class="schedulizeDay2" type="checkbox" name="Remove" value="@item.Id" style="margin-right: 5px" /><br /><span style="color: #29AAE3; font-size: 10px; white-space: nowrap">REMOVE</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <hr />
                                                                                }
                                                                            @if (ViewBag.Day1.Count > 0 || ViewBag.Day2.Count > 0)
                                                                            {
                                                                            <button type="submit" class="btn btn-theme btn-md pull-right">Submit</button>
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*<div id="Day3" class="wpb_tab ui-tabs-panel wpb_ui-tabs-hide vc_clearfix ui-widget-content ui-corner-bottom" role="tabpanel" aria-hidden="true" style="display: none;">
                                                        <div class="row vc_row-fluid">
                                                            <div class="cms-bg-overlay" style="">
                                                            </div>
                                                            <div class="vc_col-sm-12 wpb_column vc_column_container ">
                                                                <div class="wpb_wrapper">
                                                                    <div class="wpb_text_column wpb_content_element ">
                                                                        <div class="wpb_wrapper">
                                                                            <p>
                                                                                Day 3
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                  
                                }
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#schedule-tab').addClass("current-menu-item");
        });
    </script>
    <script>
            $(document).ready(function () {
                $('#tab1').click(function () {
                    $('#btnGroup2').addClass('hidden');
                    $('#btnGroup1').removeClass('hidden');
                });
                $('#tab2').click(function () {
                    $('#btnGroup1').addClass('hidden');
                    $('#btnGroup2').removeClass('hidden');
                });
                $('#markAllDay1').click(function () {
                    $('.schedulizeDay1').attr('checked','checked');
                });
                $('#unmarkAllDay1').click(function () {
                    $('.schedulizeDay1').removeAttr('checked');
                });
                $('#markAllDay2').click(function () {
                    $('.schedulizeDay2').attr('checked', 'checked');
                });
                $('#unmarkAllDay2').click(function () {
                    $('.schedulizeDay2').removeAttr('checked');
                });
            });
    </script>
}