@model Scheduler.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/Login_Layout.cshtml";
}

<div class="row" style="height: 100%; margin-right: 0px">
    <div class="col-md-8">
        <div class="row" style="margin-top: 3em">
            <div class="col-md-offset-1 col-md-10">
                <img src="~/assets/images/Anomaly_Sponsored_Wifi_page-07.png" style="width: 60%" />
                <h1 style="color: white; margin-left: 40px; margin-top: 0px; margin-bottom: 0px">To the Anomaly Hub</h1>
                <h3 style="color: white; margin-left: 40px; margin-top: 0px">It's a free tool to help you get around at the conference a little easier.</h3>
                <h2 class="hidden-sm hidden-xs"><strong style="color: #29AAE3; margin-left: 40px">It includes:</strong></h2>
            </div>
        </div>
        <div class="row hidden-sm hidden-xs">
            <img class="col-md-offset-1 col-md-2 col-sm-6 col-xs-6" src="~/assets/images/Anomaly_Sponsored_Wifi_page-08.png" />
            <img class="col-md-2 col-sm-6 col-xs-6" src="~/assets/images/Anomaly_Sponsored_Wifi_page-09.png" />
            <img class="col-md-2 col-sm-6 col-xs-6" src="~/assets/images/Anomaly_Sponsored_Wifi_page-10.png" style="margin-top: 4px" />
            <img class="col-md-2 col-sm-6 col-xs-6" src="~/assets/images/Anomaly_Sponsored_Wifi_page-11.png" style="margin-top: -3px" />
            <img class="col-md-2 col-sm-6 col-xs-6" src="~/assets/images/Anomaly_Sponsored_Wifi_page-12.png" style="margin-top: -3px" />
        </div>
        <div class="col-md-offset-1 col-md-10" style="text-align: center; margin-top: 40px; margin-bottom: 40px">
            <button id="loginBtn" onclick="location.href='/Account/Login'" class="btn-anomaly" style="width: 100%"><h2 style="margin-top: 5px; margin-bottom: 5px; font-size: 40px"><strong>LOGIN HERE</strong></h2></button>
        </div>
    </div>
    <div id="register" class="col-md-4 login-white-height" style="background-color: white; padding-top: 6em">
        <section id="registerForm">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <h2 class="col-md-offset-2" style="padding-left: 15px">create account</h2>
                <input id="hourConversion" name="hourConversion" type="hidden"/>
                <hr />               
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        @*@Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })*@
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control capitalize", placeholder = " first name", style = "width: 100%", required = "true" })
                    </div>
                </div><br /><br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        @*@Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })*@
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control capitalize", placeholder = " last name", style = "width: 100%", required = "true" })
                    </div>
                </div><br /><br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        @*@Html.ValidationMessageFor(m => m.Company, "", new { @class = "text-danger" })*@
                        @Html.TextBoxFor(m => m.Company, new { @class = "form-control capitalize", placeholder = " company", style = "width: 100%", required = "true" })
                    </div>
                </div><br /><br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        @*@Html.ValidationMessageFor(m => m.JobTitle, "", new { @class = "text-danger" })*@
                        @Html.TextBoxFor(m => m.JobTitle, new { @class = "form-control capitalize", placeholder = " job title", style = "width: 100%", required = "true" })
                    </div>
                </div><br /><br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        @*@Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })*@
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control onlyNum phone", placeholder = " phone", maxlength = 14, minlength = 14, style = "width: 100%", required = "true" })
                    </div>
                </div><br /><br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        @*@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })*@
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = " email", style = "width: 100%", required = "true" })
                    </div>
                </div><br /><br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        @*@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })*@
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = " password", style = "width: 100%", required = "true" })
                    </div>
                </div><br /><br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        @*@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })*@
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = " confirm password", style = "width: 100%", required = "true" })
                    </div>
                </div><br /><br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <strong style="color: #29AAE3; font-size: 10px">Profile Picture (optional)</strong>
                        <input type="file" name="image" style="width: 100%"/>
                    </div>
                </div><br /><br /><br /><br />
                <div class="form-group row">
                    <div class="col-md-offset-2 col-lg-5 col-md-6" style="padding-left: 25px">
                        <button type="submit" class="btn btn-anomaly-sm" style="width: 100%"><h2 style="margin-bottom: 5px; margin-top: 5px; font-size: 20px;"><strong>REGISTER</strong></h2></button>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
                <div class="col-md-offset-1 col-md-9">
                    <span style="color: indianred">@Html.ValidationSummary("", new { @class = "text-danger" })</span>
                </div>
            }
        </section><br />
        @*<section id="socialLoginForm" style="margin-top: 100px">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>*@
    </div>
</div>

@*<section id="socialLoginForm" style="margin-top: 100px">
    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@*@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Company, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Company, new { @class = "form-control", placeholder = "Company" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.JobTitle, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.JobTitle, new { @class = "form-control", placeholder = "Job Title" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Phone" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        jQuery(document).ready(function () {
            function getTime() {
                var today = new Date();
                var h = today.getHours();
                var m = today.getMinutes();
                var s = today.getSeconds();
                m = checkTime(m);
                s = checkTime(s);
                var hrConversion = h - @ViewBag.ServerHourRegister;
                $hour = $("#hourConversion");
                $hour.val(hrConversion);
                t = setTimeout(function () { getTime() }, 500);
            }
            getTime();

            function checkTime(i) {
                if (i < 10) {
                    i = "0" + i;
                }
                return i;
            }
        });
    </script>
}
