@model Scheduler.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/Login_Layout.cshtml";
}

<div class="col-md-offset-4 col-md-4" style="background-color: white; border-radius: 5px; margin-top: 200px; text-align: center">
    <img src="~/assets/upload/Anom_Logo_Wifi.png" style="width: 100%; margin-top: 40px" />
    <h1>Reset Password</h1>
    <hr />
    <div>
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Code)
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = " email", style = "width: 100%" })
                </div>
            </div><br /><br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = " password", style = "width: 100%" })
                </div>
            </div><br /><br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = " confirm password", style = "width: 100%" })
                </div>
            </div><br /><br /><br />
            <div class="form-group row" style="margin-bottom: 30px">
                <button type="submit" class="btn btn-anomaly-sm" style="padding-left: 20px; padding-right: 20px"><h2 style="margin-bottom: 5px; margin-top: 5px; font-size: 20px;"><strong>RESET</strong></h2></button>
            </div>
        }
    </div>
</div>



@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
